@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../assets/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../assets/fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../assets/fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto-Italic';
  src: url('../../assets/fonts/Roboto-italic.ttf');
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2c2d34;
}
nav {
  align-items: center;
  background-color: #1e1f25;
  color: #ffffff;
  display: flex;
  height: 62px;
  justify-content: space-between;
  margin: -18px auto 42px;
  width: 100%;
}
nav > span {
  display: none;
}
nav h1 {
  font: 21px/25px "Roboto-Regular", sans-serif;
  opacity: 0.9;
  position: relative;
  margin: 0 0 0 60px;
}
nav h1::before {
  background-image: url("../images/the_wall_small_logo.svg");
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 40px;
  left: -25px;
  margin: 0 0 0 -10px;
  position: absolute;
  width: 40px;
}
nav .logout {
  align-items: center;
  display: flex;
  margin: 0 25px 0 0;
}
nav .logout p,
nav .logout a {
  color: #ffffff;
  font: 14px/16px "Roboto-Regular", sans-serif;
  text-decoration: none;
}
nav .logout a {
  position: relative;
  margin: 0 0 0 16px;
}
nav .logout a::before {
  background-image: url("../images/the_wall_sprite_icon.svg");
  background-position: -77px 1px;
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 40px;
  position: absolute;
  right: 30px;
  width: 40px;
}
nav .logout span {
  align-items: center;
  border-right: 1px solid #3a3c46;
  display: flex;
  height: 60px;
  margin: 0 26px 0 26px;
}
@media screen and (max-width: 430px) {
  nav .logout {
    display: none;
  }
  nav > span {
    background-image: url("../images/the_wall_sprite_icon.svg");
    background-position: -77px 1px;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 22px;
    width: 40px;
  }
}
section {
  margin: 48px auto 0;
  max-width: 978px;
}
section .welcome {
  margin-bottom: 56px;
}
section .welcome h1 {
  color: white;
  font: 21px/25px "Roboto-Regular", sans-serif;
}
section .welcome h1 span {
  color: #6d7186;
  display: block;
  font: 18px/21px "Roboto-Regular", sans-serif;
  margin-top: 7px;
}
section .post_container #add_post {
  margin-bottom: 57px;
}
section .post {
  background-color: #3a3c46;
  border-radius: 10px;
}
section .post form {
  align-items: center;
  border-radius: 10px;
  border: 1px solid transparent;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 0 20px;
}
section .post form.active {
  border: 1px solid #00a3ff;
}
section .post form.input_error {
  border: 1px solid #eb5757;
}
section .post form textarea {
  background-color: #3a3c46;
  border: 1px solid transparent;
  color: #ffffff;
  font: 18px/25px "Roboto-Regular", sans-serif;
  height: 38px;
  margin: 28px 0 11px;
  max-height: 500px;
  min-height: 38px;
  outline: none;
  padding-right: 20px;
  position: relative;
  resize: none;
  width: 100%;
}
section .post form button {
  background-color: #00a3ff;
  border-radius: 9px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font: 14px/40px "Roboto-Regular", sans-serif;
  min-width: 100px;
  transition: all 0.21s ease-in-out;
}
section .post form button:hover {
  background-color: #0050c8;
}
section .edit_post.post form {
  margin-bottom: 30px;
}
section .recent {
  color: #ffffff;
  font: 16px/19px "Roboto-Regular", sans-serif;
  margin-bottom: 17px;
}
section #comments_thread .comments_wrapper {
  background-color: #32333c;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 24px 30px 25px;
}
section #comments_thread .comments_wrapper .topic_block .delete_container {
  display: flex;
  align-items: center;
}
section #comments_thread .comments_wrapper .topic_block .delete_container.active .delete_topic_btn {
  pointer-events: none;
}
section #comments_thread .comments_wrapper .topic_block .delete_container.active .confirm_text {
  display: flex;
}
section #comments_thread .comments_wrapper .topic_block .delete_container .confirm_text {
  display: none;
}
section #comments_thread .comments_wrapper .topic_text {
  color: #ffffff;
  font: 16px/25px "Roboto-Italic", sans-serif;
  margin-bottom: 5px;
  overflow: hidden;
  width: 100%;
}
section #comments_thread .comments_wrapper .topic_block .user,
section #comments_thread .comments_wrapper .reply_container .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
section #comments_thread .comments_wrapper .topic_block .user .topic_details,
section #comments_thread .comments_wrapper .reply_container .user .topic_details,
section #comments_thread .comments_wrapper .topic_block .user .name,
section #comments_thread .comments_wrapper .reply_container .user .name {
  align-items: center;
  color: #a3a3ff;
  display: flex;
  font: 14px/16px "Roboto-Regular", sans-serif;
  justify-content: space-between;
}
section #comments_thread .comments_wrapper .topic_block:hover .edit_delete_action,
section #comments_thread .comments_wrapper .reply_container:hover .edit_delete_action {
  transition: all 0.21s ease-in-out;
  opacity: 1;
  pointer-events: all;
}
section #comments_thread .comments_wrapper .topic_block .edit_delete_action,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action {
  display: flex;
  align-items: center;
}
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .edit_action,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .edit_action {
  background-color: #2c2d34;
  border-radius: 4px;
  border: 1px solid #606066;
  cursor: pointer;
  height: 29px;
  margin-right: 6px;
  transition: all 0.21s ease-in-out;
  width: 29px;
}
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .edit_action::after,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .edit_action::after {
  background: url("../images/the_wall_sprite_icon.svg") no-repeat;
  background-position: 0 0;
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
}
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .edit_action:hover,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .edit_action:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .edit_action:hover::after,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .edit_action:hover::after {
  background-position: 0 0;
}
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .delete_wrapper,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .delete_wrapper {
  align-items: center;
  background-color: #2c2d34;
  border-radius: 4px;
  border: 1px solid #606066;
  display: flex;
}
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .delete_wrapper .delete_action,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .delete_wrapper .delete_action {
  background-color: #2c2d34;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  height: 27px;
  outline: none;
  transition: all 0.21s ease-in-out;
  width: 28px;
}
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .delete_wrapper .delete_action::after,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .delete_wrapper .delete_action::after {
  background: url("../images//the_wall_sprite_icon.svg") no-repeat -21px 0;
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
}
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .delete_wrapper .delete_action:hover,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .delete_wrapper .delete_action:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .delete_wrapper .delete_action:hover::after,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .delete_wrapper .delete_action:hover::after {
  background-position: -21px 0;
}
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .delete_wrapper .confirm_text,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .delete_wrapper .confirm_text {
  color: #ffffff;
  display: none;
  font: 10px/12px "Roboto-Medium", sans-serif;
  gap: 8px;
  margin: 0 8px;
}
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .delete_wrapper .confirm_text .action,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .delete_wrapper .confirm_text .action {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font: 10px/12px "Roboto-Medium", sans-serif;
  transition: all 0.21s ease-in-out;
}
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .delete_wrapper .confirm_text .action:hover,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .delete_wrapper .confirm_text .action:hover {
  opacity: 0.8;
}
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .delete_wrapper .confirm_text .no_action,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .delete_wrapper .confirm_text .no_action,
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .delete_wrapper .confirm_text .no_action_btn,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .delete_wrapper .confirm_text .no_action_btn {
  color: #6d7186;
}
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .delete_wrapper .confirm_text .yes_action,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .delete_wrapper .confirm_text .yes_action,
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .delete_wrapper .confirm_text .yes_action_btn,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .delete_wrapper .confirm_text .yes_action_btn {
  color: #a3a3ff;
}
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .delete_wrapper.active .delete_action,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .delete_wrapper.active .delete_action {
  border-radius: 0;
  border-right: 1px solid #606066;
  pointer-events: none;
}
section #comments_thread .comments_wrapper .topic_block .edit_delete_action .delete_wrapper.active .confirm_text,
section #comments_thread .comments_wrapper .reply_container .edit_delete_action .delete_wrapper.active .confirm_text {
  display: flex !important;
}
section #comments_thread .comments_wrapper .topic_block .reply,
section #comments_thread .comments_wrapper .reply_container .reply {
  color: #ffffff;
  font: 16px/25px "Roboto-Italic", sans-serif;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
section #comments_thread .comments_wrapper .reply_wrapper .reply_container {
  margin-top: 30px;
}
section #comments_thread .comments_wrapper .reply_wrapper .reply_container .delete_container {
  display: flex;
  align-items: center;
}
section #comments_thread .comments_wrapper .reply_wrapper .reply_container .delete_container.active .delete_response_btn {
  pointer-events: none;
}
section #comments_thread .comments_wrapper .reply_wrapper .reply_container .delete_container.active .confirm_text {
  display: flex;
}
section #comments_thread .comments_wrapper .reply_wrapper .reply_container .delete_container .confirm_text {
  display: none;
}
section #comments_thread .comments_wrapper .edit_comment form textarea {
  background-color: #3a3c46;
  border: 1px solid transparent;
  color: #ffffff;
  font: 18px/25px "Roboto-Regular", sans-serif;
  height: 38px;
  margin: 28px 0 11px;
  max-height: 500px;
  min-height: 38px;
  outline: none;
  padding-right: 20px;
  position: relative;
  resize: none;
  width: 100%;
}
.hidden {
  display: none !important;
}
@media only screen and (max-width: 1024px) {
  section {
    margin: 48px 35px;
  }
}
@media only screen and (max-width: 768px) {
  #profile_name {
    display: none;
  }
  #log_out_btn {
    color: transparent !important;
    padding: 14px 0 0 26px;
    width: 35px;
  }
}
