<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Login Wall" content="This is the Login page for the wall">
    <title>The Wall Log In Page</title>
    <link rel="shortcut icon" href="../../assets/images/wall.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/global.css">
</head>
<body>
    <section id="signup_login_page">
        <div class="login_wrapper">
            <div class="welcome">
                <h2 class="login">Welcome,</h2>
                <p>Login your account</p>
            </div>
            <form action="#" id="login_form" class="form" method="POST">
                <label for="email_address">Email Address
                    <input type="text" name="email_address" id="email_address" placeholder="EMAIL ADDRESS">
                </label>
                <label for="password">Password
                    <input type="password" name="password" id="password" placeholder="PASSWORD">
                </label>
                <input type="submit" name="submit" id="submit_btn" value="Log in">
                <a href="signup.html" id="create">Don't have an account? <span>Sign up</span></a>
            </form>
        </div>
    </section>
    <script src="../../assets/js/login.js"></script>
    <script src="../../assets/js/global.js"></script>
</body>
</html>