<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Sign Up Wall" content="This is the Sign up page for the wall">
    <title>The Wall Sign Up Page</title>
    <link rel="shortcut icon" href="../../assets/images/wall.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/global.css">
</head>
<body>
    <section id="signup_login_page">
        <div class="login_wrapper">
            <div class="welcome">
                <h2>Welcome,</h2>
                <p>Register a New Account</p>
            </div>
            <form action="#" id="signup_form" class="form" method="POST">
                <div class="input">
                    <label for="first_name">First Name
                        <input type="text" name="first_name" id="first_name" placeholder="FIRST NAME">
                    </label>
                </div>
                <div class="input">
                    <label for="last_name">Last Name
                        <input type="text" name="last_name" id="last_name" placeholder="LAST NAME">
                    </label>
                </div>
                <label for="email_address">Email Address
                    <input type="text" name="email_address" id="email_address" placeholder="EMAIL ADDRESS">
                </label>
                <label for="password">Password
                    <input type="password" name="password" id="password" placeholder="PASSWORD">
                </label>
                <input type="submit" name="submit" id="submit_btn" value="Sign Up">
                <a href="login.html" id="create">Already have an account? <span>Login</span></a>
            </form>
        </div>
    </section>
    <script src="../../assets/js/signup.js"></script>
    <script src="../../assets/js/global.js"></script>
</body>
</html>