<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is Main Wall where everyone can express themselves">
    <meta name="author" content="Kei Kishimoto">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Main Wall</title>
    <link rel="shortcut icon" href="../../assets/images/wall.ico">
    <link rel="stylesheet" href="../../assets/css/wall.css">
</head>
<body>
    <nav>
        <h1>THE WALL</h1>
        <div class="logout">
            <p>Kei Kishimoto</p>
            <span></span>
            <a href="../sign_up_in/login.html">Logout</a>
        </div>
        <span></span>
    </nav>
    <section id="post_wall">
        <h1>Hello Kei,</h1>
        <p>Welcome to V88 Forum Dashboard</p>
        <div class="main_wall">
            <form action="#" class="add_post" method="POST">
                <textarea class="post_it" placeholder="Care to Share?"></textarea>
                <button type="submit" id="post_btn">Post</button>
            </form>
            <h3>Recent Forums</h3>
            <div class="comment_thread">
                <div class="comment_wrapper hidden">
                    <p></p>
                    <h5 class="name">Kei Kishimoto (few seconds ago) </h5>
                    <button type="button" class="reply">Add Comment</button>
                    <button type="button" class="edit_comment"></button>
                    <button type="button" class="delete_comment"></button>
                    <div class="reply_content hidden">
                        <p class="replies"></p>
                        <button type="button" class="reply">Add Reply</button>
                        <button type="button" class="edit_comment"></button>
                        <button type="button" class="delete_comment"></button>
                    </div>
                </div>
                <div class="comments_replies hidden">
                    <textarea class="reply_comment" placeholder="Say Something..."></textarea>
                    <button type="button" class="add_reply">Comment</button>
                </div>
            </div>
        </div>
    </section>
    <script src="../../assets/js/wall.js"></script>
</body>
</html>