<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="The Main Wall" content="This is the Main Wall">
    <title>The Main Wall</title>
    <link rel="shortcut icon" href="../../assets/images/wall.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/wall.css">
</head>
<body>
    <nav>
        <h1>THE WALL</h1>
        <div class="logout">
            <p>Kei Kishimoto</p>
            <span></span>
            <a href="../sign_up_in/login.html">Logout</a>
        </div>
        <span></span>
    </nav>
    <section id="post_wall">
        <div class="welcome">
            <h1>Hello Kei,
                <span>Welcome to V88 Forum Dashboard</span>
            </h1>
        </div>
        <div class="post_container post">
            <form action="#" id="add_post">
                <textarea id="text_post" placeholder="Care to share?"></textarea>
                <button type="submit" class="post_btn">Post</button>
            </form>
        </div>
        <p class="recent">Recent Forums</p>
        <div id="comments_thread">
            <div class="comments_wrapper hidden">
                <div class="comments_container">
                    <p class="comment_text"></p>
                    <div class="user">
                        <div class="user">Kei Kishimoto (few seconds ago) | 0 Responses</div>
                        <div class="edit_delete_action">
                            <button type="button" class="edit_action"></button>
                            <div class="delete_wrapper">
                                <button class="delete_action"></button>
                                <p class="confirm_text">Confirm Delete?
                                    <button type="button" class="action no_action">No</button>
                                    <button type="button" class="action yes_action">Yes</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit_post post hidden">
                    <form action="#" class="edit_container">
                        <textarea class="edit_field"></textarea>
                        <button type="submit">Save</button>
                    </form>
                </div>
                <div class="comment_container post">
                    <form action="#" class="comment_form" method="POST">
                        <textarea class="add_comment" placeholder="Say Something..."></textarea>
                        <button type="submit">Comment</button>
                    </form>
                </div>
                <div class="comments_and_replies">
                    <div class="reply_wrapper hidden">
                        <div class="reply_container">
                            <p class="reply"></p>
                            <div class="user">
                                <p class="name">Kei Kishimoto (few seconds ago)</p>
                                <div class="edit_delete_action">
                                    <button type="button" class="edit edit_action"></button>
                                    <div class="delete_wrapper">
                                        <button type="button" class="delete delete_action"></button>
                                        <p class="confirm_text">Confirm Delete?
                                            <button type="button" class="action no_action_btn">No</button>
                                            <button type="button" class="action yes_action_btn">Yes</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="edit_comment post hidden">
                            <form action="#" class="edit_reply post" method="POST">
                                <textarea class="edit_field_reply" placeholder="Say Something"></textarea>
                                <button type="submit" class="save_response_btn">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../../assets/js/wall.js"></script>
</body>
</html>